@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,100,100italic,300,300italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import 'colors';
html {
	box-sizing:border-box;
}
*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing:inherit;
}
html, body {
	height:100%;
}
body {
	background: rgb(241,242,242);
	font-family: 'Lora', serif;
	font-size:16px;
	overflow-x:hidden;
}
h1, h2, h3, h4, h5, h6, a{
	font-family: 'Lora', sans-serif;
	font-weight: 300;
	margin-bottom: .6em;
	color: $body-dark;
}
h1 a{
	font-family: 'Lato', sans-serif !important;
	text-decoration: none;
}
h2 {
	font-size: 30px;
	font-style: italic;
}
h2.under {
	text-decoration: underline;
}
p {
	margin-bottom: 1em;
	line-height: 1.5em;
}
a{
	font-family: 'Lora', serif;
	text-decoration: underline;
}
strong {
	font-weight: 900;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a::-moz-selection { background: $body-dark; }
a::selection { background: $body-dark; }

::-moz-selection { background: $accent; }
::selection { background: $accent; }
