.blog-postDate {
  font-size: .7em;
  padding-left: 20px;
}
.blog-excerpt {
  padding: 20px;
}
.blog-link {
  text-align: right;
  padding: 20px;
  &:hover{
    text-decoration: underline;
  }
}
.blog-text {
  h2, p {
    margin-bottom: 1em;
  }
  img {
    margin: 0 auto 1em auto;
    display: block;
  }

}
