.blog-postDate {
  font-size: .7em;
  padding-left: 20px;
}
.blog-excerpt {
  padding: 20px;
}
.blog-link {
  text-align: right;
  padding: 20px;
  &:hover{
    text-decoration: underline;
  }
}
.blogList, .blogSide {
  float:left;
  padding: 1em;
}
.blogList {
  width:80%;
}
.blogSide {
  width: 20%;
}
@media screen and (min-width: 900px) {
  .blogSide {
    display: none;
  }
  .blogList {
    width: 100%;
    .card {
      margin-bottom: 1em;
    }
  }
}
.blog-text {
  h2, p {
    margin-bottom: 1em;
  }
  img {
    margin: 0 auto 1em auto;
    display: block;
  }

}
