@import 'colors';
.card {
  background: white;
  .card--image {
    display: block;
    img {
      max-width: 100%;
    }
  }
  .card--text {
    a:hover {
      text-decoration: underline;
    }
    h2 {
      width:100%;
      text-align: center;
      padding: 30px;
      color: $body-dark;
      border-top: 1px solid $body-dark;
    }
  }
}
