@import 'colors';
.colored
{
    .layer
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transition: background-color 1s ease-out;

        background-color: RGBA(0, 0, 0, .8);
    }
    &:before
    {
        position: absolute;

        width: 100%;
        height: 100%;

        content: '';
        transform: scale(1);

        background-repeat: no-repeat;
        background-size: cover;
    }
    &.bg-image-one
    {
        &:before
        {
            background-image: url('/images/background1.jpg');
        }
    }
    &.bg-image-two
    {
        &:before
        {
            background-image: url('/images/background2.jpg');
        }
    }
    &.bg-image-three
    {
        &:before
        {
            background-image: url('/images/background3.jpg');
        }
    }
    &.zoomed
    {
        position: relative;
    }
    &.zoomed:before
    {
        overflow: hidden;

        transition: transform 27s linear;
        transform: scale(1.4);
    }

    h1,
    h2,
    h3
    {
        text-align: center;

        color: $body;
    }
    h1.title a
    {
        font-size: 1.8em;

        color: white !important;
    }
    h1 span
    {
        font-weight: 600;
        font-style: italic;

        color: $accent !important;
    }
    h2 blockquote
    {
        font-style: italic;

        padding: 0 1em;
        footer
        {
            padding-top: 1em;

            color: $accent;
        }
    }
    @media screen and (max-width: 450px)
    {
        #quote
        {
            font-size: 1.2em;
        }
        .title
        {
            margin-bottom: 0;
        }
        h3
        {
            display: none;
        }
        .icon-row
        {
            margin-bottom: 0;
            a
            {
                margin-bottom: 0;
            }
        }
    }
}
.icon-row
{
    text-align: center;
    @media screen and (max-width: 400px)
    {
        a,
        a img
        {
            width: 60px !important;
            height: 60px !important;
        }
    }
    a,
    a img
    {
        display: inline-block;

        width: 80px;
        height: 80px;
    }
    img
    {
        padding: 5px;
    }
    a
    {
        border: 5px solid transparent;
        border-radius: 50%;
        &:hover,
        &:focus
        {
            border: 5px solid $accent;
        }
    }
}
.content
{
    ul li:before
    {
        line-height: 1.5em;

        margin-right: 5px;

        content: '+';
    }
    .card-list
    {
        ul
        {
            list-style-type: none;

            li
            {
                display: block;

                margin-bottom: 1em;
                padding: 20px 30px;

                border: 1px solid $keyline;
                box-shadow: 0 3px 5px $keyline;

                .card-list--title,
                .card-list--detail,
                .card-list--link
                {
                    display: block;

                    color: $body-dark;
                }

                .card-list--title
                {
                    font-size: 1.3em;

                    padding-bottom: 5px;

                    box-shadow: 0 1px 0 $body-dark;
                }

                .card-list--detail
                {
                    padding-bottom: 5px;
                }
                .card-list--link
                {
                    display: block;

                    text-align: right;
                    &:after
                    {
                        @include clearfix;
                    }
                }
            }
        }
    }
    #contactform label
    {
        display: block;

        width: 100%;

        text-align: center;
    }
    #contactform input[type='text'],
    #contactform input[type='email'],
    #contactform textarea,
    #contactform select,
    #contactform input[type='tel']
    {
        line-height: 15px;

        width: 100%;
        height: 35px;
        margin-top: 2px;
        margin-right: 6px;
        margin-bottom: 16px;
        padding: 5px 0 5px 5px;

        color: #888;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        outline: 0 none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
           -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    #contactform textarea
    {
        height: 150px;
    }
    #contactform input[type='submit']
    {
        font-size: 15px;

        padding: 15px;

        cursor: pointer;

        color: $accent;
        border: 1px solid #eee;
        background: $body-dark;
        box-shadow: 5px 5px 5px #eee;
    }
    img.svgicon
    {
        display: block;
        height:200px;
        max-width: 55px;
        margin: 0 auto;
    }
}
