#addDialog {
  padding: 0;
}
#addContact {
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  margin: 0;
  padding: 2em;
  div {
    margin-bottom: 1em;
  }
}
.ui-widget-header {
  background: $accent;
  border: none;
}
