.content
	.contact-pane
		p {{currentProfilePublic.name}}'s friends.
		.contact(ng-repeat="person in currentProfileFriends")
			a(ng-href="/work/angular/#!users/{{person.url}}")
				.contact-image
					img(ng-src='{{person.image}}')
				.contact-info
					.contact-info-name {{person.name}}
					.contact-info-status {{person.Status}}
		a(href="/work" title="Back to my main site") Back to my site

	.switch-user
		form#switchuser
			select(ng-change="switchUser(userSwitch); redirect(userSwitch);" ng-model="userSwitch")
				option(value="") ---Select User---
				option(value='0') Jamie
				option(value="1") Misko
				option(value="2") Jordan
				option(value="3") Yehuda
	.profile-space
		.cont
			.profile-top(ng-controller="profileController")
				.profile-top-image
					img(ng-src='{{currentProfilePublic.image}}')
					form#addFriend(ng-submit="addFriend()" ng-show="!friendRights() == 1")
						input(type="submit" value="Add as Contact")
					form#addFriend(ng-submit="removeFriend()" ng-show="friendRights() == 2")
						input(type="submit" value="Remove as Contact")
				.profile-top-info
					.profile-top-info-name
						h2 {{currentProfilePublic.name}} 
							span(style="font-size:.5em;") - {{currentProfilePublic.DOB}}
					.profile-top-info-date
						h3(id="contact-info-PM-current") {{currentProfilePublic.PM}}
						.profile-top-info-PM-update(ng-show="currentProfilePublic.loggedIn")
							#contact-info-PM-new(onClick="enterNewPM()") 
								small Change PM
							form#PM(ng-submit="updatePm()" name="pmForm" class="hidden")
								input(type="text" ng-model="newPM" placeholder="New Personal Message" required)
								input(type="submit" ng-disabled="pmForm.$invalid")
					.profile-top-info-status
						p(id="contact-info-status-current") {{currentProfilePublic.Status}}
						.profile-top-info-status-update(ng-show="currentProfilePublic.loggedIn")
							#contact-info-status-new(onClick="enterNewStatus()") 
								small Change Status
							form#status(ng-submit="updateStatus()" name="statusForm" class="hidden")
								input(type="text" ng-model="newStatus" placeholder="New Status" required)
								input(type="submit" ng-disabled="statusForm.$invalid" value="Post")
			.profile-main
				.profile-main-input
					h3 Board
					form#post(ng-submit="addPost()" name="form" ng-show="postRights()")
						input( type="text"
						placeholder="Tell the world something new..." ng-model="newMessageText" required)
						input(type="submit" ng-disabled="form.$invalid")
				.profile-main-board
					h3 Previous Boards
					.profile-main-board-post(ng-repeat="posts in currentProfilePosts")
						.profile-main-board-post-info
							.profile-main-board-post-info-name
								h4 {{posts.posterName}}
							.profile-main-board-post-info-post
								p {{posts.message}}
							.profile-main-board-post-info-date
								p 
									small {{posts.date}}
							<button ng-click="currentProfilePosts.$remove(posts)">Delete Message</button>