.section
	.row(style="margin-bottom:0;")
		.col.s12
			.row
				.col.s12
					p(onClick="showFriends()" id="seeFriends") See {{currentProfilePublic.name}}'s friends:
			div#contactsToggle(style="display:none;")
				.contact.row(ng-repeat="person in currentProfileFriends" style="display:inline-block; margin-bottom:0px; width:250px;")
					a(ng-href="/work/angular/#!users/{{person.url}}")
						.contact-image.col.s4
							img(ng-src='{{person.image}}' style="height:75px;" class="circle")
						.contact-info.col.s8
							.contact-info-name {{person.name}}
							.contact-info-status {{person.Status}}
			form#switchuser(style="margin-bottom:0;")
				.input-field
					p Switch User:
					select(ng-change="switchUser(userSwitch); redirect(userSwitch);" id="userSwitcher" ng-model="userSwitch" ng-options="user.id as user.name for user in users" class="browser-default")
	.row
		.col.s12
			.card
				.profile-top.row(ng-controller="profileController")
					.row(style="position: relative;margin: 7.5px;")
						.profile-top-image.col.s12.m4
							img(ng-src='{{currentProfilePublic.image}}' class="circle" style="width:175px; display:block; margin:auto; padding-top:10px;")
							form#addFriend(ng-submit="addFriend(); redirect(currentProfilePublic.id);")
								button(type="submit" value="Add as Contact" ng-if="friendRights() == '2'" class="waves-effect waves-light btn red")
							form#addFriend(ng-submit="removeFriend();  redirect(currentUser.id);")
								input(type="submit" value="Remove as Contact" ng-if="friendRights() == '1'" class="waves-effect waves-light btn")
						.profile-top-info.col.s12.m8
							.profile-top-info-name
								h4.blue-text {{currentProfilePublic.name}} 
									span(style="font-size:.5em;") - {{currentProfilePublic.DOB}}
								h5(id="contact-info-PM-current") {{currentProfilePublic.PM}}
								p(id="contact-info-status-current") {{currentProfilePublic.Status}}
					.row(style="position: relative;margin: 7.5px;")
						.profile-top-info-date.col.s12.m6
							.profile-top-info-PM-update(ng-show="currentProfilePublic.loggedIn")
								#contact-info-PM-new(onClick="enterNewPM()" style="padding-bottom: 10px;") 
									button(class='waves-effect waves-light btn') Change PM
										i.material-icons.right chat_bubble
								form#PM(ng-submit="updatePm()" name="pmForm" class="hidden")
									.input-field.s12
										input(type="text" ng-model="newPM" id="new_PM" required)
										label(for="new_PM") New Personal Message
									button(type="submit" ng-disabled="pmForm.$invalid" class="btn waves-effect waves-light" style="padding-bottom:5px;") Change PM
										i.material-icons.right done
									button(onClick="enterNewPM()" class="btn waves-effect waves-light red") X
						.profile-top-info-status.col.s12.m6
							.profile-top-info-status-update(ng-show="currentProfilePublic.loggedIn")
								#contact-info-status-new(onClick="enterNewStatus()" style="padding-bottom: 10px;") 
									button(class='waves-effect waves-light btn') Change Status
										i.material-icons.right chat_bubble
								form#status(ng-submit="updateStatus()" name="statusForm" class="hidden")
									.input-field.s12
										input(type="text" ng-model="newStatus" id="new_Status" required)
										label(for="new_Status") New Status
									button(type="submit" ng-disabled="statusForm.$invalid" value="Post" class="btn waves-effect waves-light" style="padding-bottom:5px;") Change Status
										i.material-icons.right done
									button(onClick="enterNewStatus()" class="btn waves-effect waves-light red") X
				.profile-main(style="overflow:auto;")
					.profile-main-input.col.s12
						h5.blue-text Board
						form#post(ng-submit="addPost()" name="form" ng-show="postRights()")
							.input-field.s12
								textarea(type="text" id="new_Post" ng-model="newMessageText" class="materialize-textarea" required)
								label(for="new_Post" style="left:0;") Tell the world something new...
							button(type="submit" ng-disabled="form.$invalid" value="Post" class="btn waves-effect waves-light green") Post
								i.material-icons.right send
					.profile-main-board.col.s12(style="padding-bottom:10px;")
						h5.blue-text Previous Boards
						.profile-main-board-post(ng-repeat="posts in currentProfilePosts")
							.profile-main-board-post-info
								.col.s9
									.profile-main-board-post-info-name
										h6.blue-text {{posts.posterName}}
									.profile-main-board-post-info-post
										p {{posts.message}}
									.profile-main-board-post-info-date
										p
											small {{posts.date}}
								.col.s3
									button(class="waves-effect waves-light btn red" ng-click="currentProfilePosts.$remove(posts)") X