.hidden{display: none;}
.profile-main-board-post{
	border-bottom: 1px solid #eeeeee;
    margin-bottom: 19px;
    padding: 10px;
    overflow: auto;
}
.profile-main-board-post h4 {
	margin-top: 0;
}
.profile-main-board-post:last-child{
	border: 0;
}
.contact:hover *{
	text-decoration: underline;
}