@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100,100italic);
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C2C2C;
}
a{
  text-decoration:none;
}
#main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: RGB(245, 245, 245);
  overflow: auto;
}
#main .menu {
  width: 100%;
  background: #354B8E;
  border-bottom: 1px solid #e5e5e5;
  z-index: 11;
  position: relative;
  height: 40px;
}
#main .menu h1 {
  width: 80%;
  float: left;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  color: white;
  font-style: italic;
}
#main .menu h1 span {
  font-style: initial;
}
#main .menu .user {
  width: 20%;
  float: left;
  color: white;
  margin-bottom: 0;
}
#main .menu .user .name {
  margin-bottom: 0;
}
#main .menu .user .name a {
  color:white;
}
#main .menu .user .name a:hover {
  text-decoration:underline;
}
#main .content-pane {
  height: 100vh;
}
#main .contact-pane, #main .profile-space {
  display: block;
  float: left;
}
#main .contact-pane {
  width: 15%;
  min-height: 100%;
  background-color: #e5e5e5;
  padding-top: 10px;
}
#main .contact-pane .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#main .contact-pane .contact:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
#main .contact-pane .contact-image, #main .contact-pane .contact-info {
  float: left;
}
#main .contact-pane .contact-image {
  width: 20%;
  float: left;
}
#main .contact-pane .contact-image img {
  width: 80%;
  margin: 10%;
}
#main .contact-pane .contact-info {
  width: 80%;
  padding: .5em;
}
#main .contact-pane .contact-info * {
  color:black;
}
#main .contact-pane .contact-info *:hover {
  text-decoration:underline;
}
#main .contact-pane .contact-info-status {
  font-size: 10px;
  font-weight: 400;
}
#main .profile-top-info-status .hidden {
  display: none;
}
#main .profile-space {
  width: 85%;
  height: 100%;
}
#main .profile-space .cont {
  box-shadow: 0px 0px 10px 10px #e5e5e5;
  width: 80%;
  min-height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10px;
}
#main .profile-space .profile-top {
  height: 200px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
#contact-info-status-current{
  margin-bottom: 0;
}
#contact-info-status-new {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  max-width: 100px;
  padding: 5px;
}
#main .profile-space .profile-top-image {
  width: 30%;
  height: 180px;
  float: left;
  position: relative;
}
#main .profile-space .profile-top-image img {
  width: auto;
  max-height: 180px;
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
}
#main .profile-space .profile-top-info {
  width: 70%;
  float: left;
}
#main .profile-space .profile-main {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#main .profile-space .profile-main .profile-main-input #post input[type=text] {
  width: 100%;
  height: 80px;
  border: 1px solid #cccccc;
  background-image: none;
  resize: none;
}
#main .profile-space .profile-main .profile-main-board-post {
  overflow: auto;
  box-shadow: 0px 2px 5px 0px #cccccc;
  padding: 10px 5px 5px 5px;
}
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-image,
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-info {
  float: left;
  height: inherit;
}
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-image {
  width: 10%;
}
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-image img {
  width: 100%;
}
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-info {
  width: 90%;
  padding: 5px 10px;
}
#main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-info p, #main .profile-space .profile-main .profile-main-board-post .profile-main-board-post-info h4 {
  margin: 0;
}