<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button" ng-click="closeLogin();">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="main">
    <div class="logInForm list" ng-show="!loggedIn" class="ng-hide">
      <label class="item item-input">
        <input type="text" id="email" placeholder="joe.blogs@example.com">
      </label>
      <label class="item item-input mt1">
        <input type="password" id="pass" placeholder="password">
      </label>
      <input type="button" class="button button-positive mt1" ng-click="signInUser();" name="name" value="Sign in"/>
      <input type="button" class="button button-balanced mt1" ng-click="registerUser();" name="name" value="Register"/>
    </div>
  </ion-content>
</ion-modal-view>
