<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">New Spend</h1>
    <div class="buttons">
      <button class="button" ng-click="closeNewSpend();">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="main">
      <div class="list">
        <label class="item item-input">
          <input id="newSpendDate" type="Date" placeholder="Date">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select id="newSpendCatagorie">
            <option selected>Rent</option>
            <option>Utilities</option>
            <option>Food</option>
            <option>Trips</option>
            <option>Bills</option>
          </select>
        </label>
        <label class="item item-input">
          <input id="newSpendNote" type="text" placeholder="Note">
        </label>
        <label class="item item-input">
          <input id="newSpendCost" type="number" placeholder="Cost"></textarea>
        </label>
      </div>
      <button class="button button-royal" ng-click="AddNewSpend();">Spend it!</button>
    </div>
</ion-modal-view>
