<ion-view view-title="Outgoings" ng-controller="AppCtrl">
  <ion-content class="home main">
    <h1>{{displayName}}'s outgoings</h1>
    <div class="">
      <button class="button" ng-click="newSpend();">
      <i class="icon ion-social-usd-outline"></i> New Spend
      </button>
    </div>
    <div class="list mt1">
      <ion-item ng-repeat="spend in outgoings">
          <div class="item item-divider">
            {{spend.date}}
          </div>
          <div class="item">
            {{spend.name}} - <span style="font-size:10px;">{{spend.note}}</span>
            <span class="item-note">{{spend.cost}}</span>
          </div>
          <div class="item">
            <button class="button button-assertive" ng-click="deleteSpend('{{spend.uid}}');">
              delete
            </button>
          </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
