.blog-postDate
{
    font-size: .7em;

    padding-left: 20px;
}
.blog-excerpt
{
    padding: 20px;
}
.blog-link
{
    padding: 20px;

    text-align: right;
    &:hover
    {
        text-decoration: underline;
    }
}
.blogList,
.blogSide
{
    float: left;

    padding: 1em;
}
.blogList
{
    width: 70%;
    .card
    {
        margin-bottom: 1em;
        img
        {
            display: block;
            width: 100%;
            margin: auto;
        }
    }
}
.blogSide
{
    width: 30%;
    .card
    {
        padding: 1em;
    }
}
#EmberArea .ember-view {
  margin: 0 auto;
  width: 87%;
  background-color: RGB(250,250,250);
}
@media screen and (max-width: 900px)
{
    .blogSide
    {
        display: none;
    }
    .blogList
    {
        width: 100%;
    }
}
.blog-text,
.comments-section
{
    float: none;

    max-width: 960px;
    margin: auto;
    p
    {
        margin-bottom: 2em;
    }
    img
    {
        display: block;

        margin: 0 auto 1em auto;
    }
    hr
    {
      margin: 1em 0em;
    }
}
.comments-section
{
    input,
    textarea
    {
        font-weight: 300;

        width: 60%;
        margin: 0 0 1em 0;
        padding: .5em;

        resize: none;

        border: 1px solid #ccc;
    }
    textarea
    {
        min-height: 5em;
    }
    button
    {
        font-size: 18px;
        font-weight: 300;

        padding: .5em 1em;

        cursor: pointer;
        -webkit-transition: background-color 300ms;
                transition: background-color 300ms;

        color: $body-dark;
        border: none;
        outline: none;
        background-color: $accent;
    }
    .postError
    {
        font-size: 14px;

        width: 100%;
        padding: 15px;

        color: #a94442;
        border-color: #ebccd1;
        border-radius: 4px;
        background-color: #f2dede;
    }
    .comments-section--Comments
    {
        margin-top: 1em;
        .card
        {
            margin-bottom: 1em;
            padding: 1em;
        }
    }
}
