@import 'colors';
#addDialog
{
    display: none;

    padding: 0;
}
#addUserForm
{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    margin: 0;
    padding: 2em;

    background-color: white;
    div
    {
        margin-bottom: 1em;
    }
    label
    {
        float: left;

        width: 50%;
    }
    input,
    select
    {
        width: 50%;
        padding: 1em;

        border: 1px solid $keyline;
        border-radius: 5px;
    }
    select
    {
        height: 37px;
    }
    input.error
    {
        color: #a94442;
        border: 1px solid #f2dede;
        background: #f2dede;
    }
    input.success
    {
        color: #3c763d;
        border: 1px solid #d6e9c6;
        background: #dff0d8;
    }
}
.ui-widget-header
{
    border: none;
    background: $accent;
}
