$footerHeight: 100px;
.container.content
{
    margin-bottom: $footerHeight;
}
.container.content:after
{
    display: block;

    content: '';
}
footer .container.content:after
{
    height: $footerHeight;
}
.copyright
{
    margin-right: 10px;

    text-align: right;
}
