<div class="menu">
  <div class="hamburger">
    <a id="menu-button" title="View the menu"><img src="/images/burger2.png" alt="Hamburger Button"></a>
  </div>
  <ul>
    <li><a href="/about/"><span>About</span></a></li>
    <li><a href="/contact/"><span>Contact</span></a></li>
   	<li><a href="/blog/"><span>Blog</span></a></li>
    <li><a href="/work/"><span>Work</span></a></li>
  </ul>
</div>
<footer>
  <div class="copyright">&#169;Jamie Pettman</div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
