/* Base */
body {
  font-size: 16px;
}
h1 {
  font-size: 36px;
  font-size: 5.9vw;
}
h2 {
  font-size: 24px;
  font-size: 3.0vh;
}
p {
  font-size: 16px;
  font-size: 2vmin;
}
input[type=button]{
  cursor: pointer;
}
/* Content */
ion-header-bar {
  background: #16BFFD !important;
  border-color: white !important;
}
.modal ion-header-bar{
  background: #CB3066 !important;
}
ion-header-bar .title {
  color:white !important;
}
.bar-stable .button.button-clear {
  color: white;
}
ion-content.main {
  padding: 5vh 5vw;
}
ion-content.home {
background: #16BFFD; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #16BFFD , #CB3066); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #16BFFD , #CB3066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ion-content h1 {
  margin: 1em 0;
  text-align: center;
  color: white !important;
}
ion-content .sign-in-content {
    top: 35vh;
    position: relative;
    text-align: center;
}
ion-item {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
/* Helpers */
.pt1{
  padding-top: 1em;
}
.mt1{
  margin-top: 1em;
}
.tar{
  text-align: right;
}
.flr {
  float:right;
}
